.HomeGeneral01 {
    background-image: linear-gradient(to right, #004e8f, #2388b9);
}

.Cabezal_PrincipalDefault {
    /*margin: 0 0 51.6px;
    z-index: 997;
    padding: 16px 72px 11px; */
    background: #fff !important;
    /* transition: all 0.5s; */
    /* padding-top: 0; */
}

.home-main {
    height: 100vh;
    /* height: 100vh;
    background: top center no-repeat;
    background-size: cover; */
    display: flex;
}

.investor-main {
    min-height: 647px;
}

.professional-main {
    min-height: 619px;
}

.frame-blue {
    /* display: flex;
    flex-direction: row;
    gap: 55px;
    justify.content {
      min-height: 100hv;
    }: center; */
    align-items: center;

    padding: 0;
    background-color: #0e5394;
}

.home-f-icon {
    width: auto;
    height: 86px;
}

.home-f-text {
    background-color: #0e5394;
    width: auto;
    height: 122px;
    padding: 0.5em 0.5em;
}

/* 
Fonts:
*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
    font-family: "Nunito", sans-serif;
    font-style: normal;
    color: #fff;
}

h1 {
    font-weight: 900;
    font-size: 61px;
    line-height: 65px;
}

h2 {
    font-weight: 400;
    font-size: 44px;
    line-height: 52px;
}

h3 {
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
}

h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
}

h5 {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

h6 {
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
}

p {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}

label {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    margin: 0.75rem 0 0.25rem;
}

.theme-link {
    color: #fff;
    text-decoration: none;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}

.theme-link:hover {
    color: #bd13b8;
}

.input-login,
.input-login:active,
.input-login:hover {
    color: #0e5394;
}

.text-strong {
    font-weight: 900;
}

.text-black {
    color: #292929;
}

.text-justify {
    text-align: justify;
}

@media (max-width: 768px) {
    h1 {
        font-size: 32px;
        line-height: 36px;
    }

    h2 {
        font-weight: 400;
        font-size: 28px;
        line-height: 32px;
    }

    h3 {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
    }

    h4 {
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
    }

    h5 {
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
    }

    h6 {
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
    }

    p {
        font-weight: 400;
        font-size: 11.81px;
        line-height: 11.81px;
    }

    .text-justify {
        text-align: center;
    }
}

.nav-link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* color: #FFFFFF !important; */
    color: #0071bc !important;
}

.nav-link:hover {
    color: #bd13b8 !important;
}

.btn-primary {
    --bs-btn-color: #fff !important;
    --bs-btn-bg: #bd13b8;
    --bs-btn-border-color: #bd13b8;

    --bs-btn-hover-color: #fff !important;
    --bs-btn-hover-bg: #80b8de;
    --bs-btn-hover-border-color: #80b8de;

    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #80b8de;
    --bs-btn-active-border-color: #80b8de;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0);
    --bs-btn-disabled-color: #80b8de;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #80b8de;
    --bs-gradient: none;
}

.btn-outline-primary {
    --bs-btn-color: #fff !important;
    --bs-btn-border-color: #fff;
    --bs-btn-hover-color: #fff !important;
    --bs-btn-hover-bg: #80b8de;
    --bs-btn-hover-border-color: #80b8de;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #80b8de;
    --bs-btn-active-border-color: #80b8de;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0);
    --bs-btn-disabled-color: #80b8de;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #80b8de;
    --bs-gradient: none;
}

.btn-full {
    width: 100% !important;
}

.search-bar {
    background: white;
    padding: 0.3rem;
    border-radius: 10px;
}

.search-bar-border {
    border: 1px solid #cdcdcd;
}

.search-bar .icon-input {
    background-color: #fff;
    border: none;
    color: #bd13b8;
}

.search-bar .search-input {
    border: 0px;
    /* width: 94%; */
    color: #bd13b8;
}

.navbar-toggler {
    border: 1px solid;
}

.navbar-toggler:focus,
.navbar-toggler:active {
    border: #0e5394 1px solid !important;
    box-shadow: none;
    color: #0e5394;
}

.navbar-toggler-icon:focus,
.navbar-toggler-icon:active {
    color: #0e5394;
}

@media (max-width: 768px) {
    .search-button {
        width: 100%;
        border-radius: 0 0 10px 10px !important;
    }
}

/* Investor */
.comming-soon {
    border: #fff 2px solid;
    border-radius: 5px;
    width: 420px;
    height: 66px;
    padding: 10px;

    color: #fff;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
}

.comming-card {
    width: auto;
    height: 373px;
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
}

.comming-card .img {
    min-width: 100%;
}

.comming-card img {
    border: 7px solid #0e5394;
    height: 180px;
    width: 180px;
}

.comming-text {
    min-width: 100%;
}

.avatar-img {
    opacity: 0.5 !important;
    cursor: pointer;
}

.avatar-img:hover {
    opacity: 1 !important;
    transition: 0.5s;
}

.home-end {
    height: 600px;
}

.bg-investor-main {
    background: url(/img/backgrounds/investor_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* max-width: 1440px; */
}

.bg-startup-main {
    background: url(/img/startup/bg-main.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 619px;
    /* max-width: 1440px; */
}

.bg-moon {
    background: url(/img/backgrounds/moon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-moon-astro {
    background: url(/img/backgrounds/home_moon_astro.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
}

.bg-planet-space {
    background: url(/img/backgrounds/home_planet_space.png) no-repeat center top;
    height: 687px;
}

.bg-moon-planet {
    background: url(/img/backgrounds/home_moon_planet_space.png) no-repeat center bottom;
}

.bg-startup-feat {
    background: url(/img/startup/bg-features.png) no-repeat center bottom;
    background-color: #0e5394;
}

.bg-login {
    background: url(/img/general/bg_login.png) no-repeat center top;
}

.bg-professionals {
    background: url(/img/startup/bg-professionals.png) no-repeat center bottom;
}

.benefit-item {
    background: url(/img/backgrounds/benefit-item.png) no-repeat center top;
    max-height: 78px;
    max-width: 340px;
}

.benefit-item .benefit-icon {
    width: 18%;
    margin: auto;
}

.benefit-item .benefit-text {
    width: 82%;
    padding: 0.6em 0.4em;
}

.img-person {
    max-width: 500px;
    max-height: 400px;
}

.img-person img {
    position: absolute;
    margin-left: -250px;
    bottom: 0px;
}

@media (max-width: 768px) {
    .bg-startup-main {
        background: none;
    }

    .bg-moon-astro {
        background-size: 160%;
        height: 400px;
    }

    .bg-moon-planet {
        background-size: 160%;
        height: 2450px;
    }

    .bg-planet-space {
        background: none;
        height: auto;
    }

    .bg-moon-astro {
        height: 550px;
    }

    .d-lines {
        height: 1.5em;
        margin-top: 2em;
        margin-bottom: 2em;
    }
}

.benefit-box {
    width: 320px;
    height: 72px;
}

.benefit-icon {
    width: 30%;
}

.benefit-text {
    width: 70%;
}

.d-lines {
    border-top: #fff 2px solid;
    border-bottom: #fff 2px solid;
    height: 1.5em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.astro-circle {
    max-width: 221px;
    max-height: 221px;
    background-color: #004e8f;
    border-radius: 50%;
}

.astro-img {
    margin: auto;
    max-height: 90%;
}

.astro-frame {
    height: 85px;
    background: #004e8f;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
    background: #0e5394;
    padding: 0 0 30px 0;
    font-size: 14px;
}

.footer .footer-newsletter {
    padding: 50px 0;
    background: #0e5394;
    border-top: 1px solid #e1ecff;
}

.footer .footer-newsletter h4 {
    font-size: 24px;
    margin: 0 0 10px 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    color: #0e5394;
}

.footer .footer-newsletter form {
    margin-top: 20px;
    background: #0e5394;
    padding: 6px 10px;
    position: relative;
    border-radius: 4px;
    border: 1px solid #0e5394;
}

.footer .footer-newsletter form input[type="email"] {
    border: 0;
    padding: 8px;
    width: calc(100% - 140px);
}

.footer .footer-newsletter form input[type="submit"] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 30px;
    margin: 3px;
    background: #0e5394;
    color: #fff;
    transition: 0.3s;
    border-radius: 4px;
}

.footer .footer-newsletter form input[type="submit"]:hover {
    background: #0e5394;
}

.footer .footer-top {
    /* background: white url(../img/footer-bg.png) no-repeat right top; */
    background: #0e5394;
    background-size: contain;

    padding: 60px 0 30px 0;
}

@media (max-width: 992px) {
    .footer .footer-top {
        background-position: center bottom;
    }
}

.footer .footer-top .footer-info {
    margin-bottom: 30px;
}

.footer .footer-top .footer-info .logo {
    line-height: 0;
    margin-bottom: 15px;
}

.footer .footer-top .footer-info .logo img {
    max-height: 40px;
    margin-right: 6px;
}

.footer .footer-top .footer-info .logo span {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
    font-family: "Nunito", sans-serif;
    margin-top: 3px;
}

.footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Nunito", sans-serif;
}

.footer .footer-top .social-links a {
    font-size: 20px;
    display: inline-block;
    color: rgba(1, 41, 112, 0.5);
    line-height: 0;
    margin-right: 10px;
    transition: 0.3s;
}

.footer .footer-top .social-links a:hover {
    color: #fff;
}

.footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 12px;
}

.footer .footer-top .footer-links {
    margin-bottom: 30px;
}

.footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #d0d4fc;
    font-size: 12px;
    line-height: 0;
}

.footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

.footer .footer-top .footer-links ul a {
    color: #fff;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}

.footer .footer-top .footer-links ul a:hover {
    color: #4154f1;
}

.footer .footer-top .footer-contact p {
    line-height: 26px;
}

.footer .copyright {
    text-align: center;
    padding-top: 30px;
    color: #fff;
}

.footer .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #fff;
}

/* dashboard*/

/* #sidebar-wrapper {
  background: #80B8DE !important;
}
#sidebar-wrapper .sidebar-heading {
  height: 5rem;
  background: #0E5394 !important;
}

#sidebar-wrapper .list-group {
width: 5rem;
} */

.body-dashboard {
    background: #f5f5f5;
}

#side_nav {
    background: #80b8de;
    min-width: 88px;
    max-width: 88px;
}

.header-box {
    background: #0e5394;
    height: 88px;
}

.sidebar-body {
    background: #80b8de !important;
}

.content {
    height: 100vh !important;
    width: 100%;
}

@media (max-width: 768px) {
    #side_nav {
        display: none;
    }

    .card-information {
        display: none;
    }


}

/* 
dashborad content
*/

.card-container {
    padding-right: 1em;
}

.card-overlay:hover {
    background-color: #0e5394;
    color: #fff !important;
    transition: 0.3s;
    cursor: pointer;
}

.card-overlay:hover h4,
.card-overlay:hover p,
.card-overlay:hover h6 {
    color: #fff !important;
}

.card-overlay:hover .single-card-logo {
    border: 5px solid #fff;
    background-color: #fff;
}

.card-overlay:hover .single-type-logo {
    display: none;
}

.card-overlay:hover .single-type-logo-white {
    display: block;
}

.card-border-none {
    border: none !important;
}

.card-result>.card-body {
    min-height: 165px;
}

.card-result h6 {
    color: #0e5394;
}

.single-card-logo {
    border: 5px solid #80b8de;
    width: 100%;
    max-width: 160px;
    height: 160px;
    object-fit: contain;
}

.single-card-logo-inf {
    width: 90%;
    border: 1px solid #80b8de;
    height: 100%;
    object-fit: contain;
    min-height: 70px;
}

@media (max-width: 768px) {
    .single-card-logo {
        height: 80px;
    }

    .single-card-logo-inf {
        height: 50px;
        width: 50px;
        min-height: unset;
    }
}


.single-type-logo {
    width: 100%;
    max-width: 48px;
}

.single-type-logo-white {
    width: 100%;
    max-width: 48px;
    display: none;
}

.card-resume {
    color: #292929;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

ul.card-startup-detail {
    list-style: none;
    padding-left: 2em;
}

ul.card-startup-detail li::before {
    content: "\2022";
    color: #0071bc;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.single-card {
    height: 176px;
    border-radius: 0px !important;
}



.sidebar-divider {
    border-top: 2px solid #0071bc;
    max-width: 100%;
}

.dark-text {
    color: #0071bc;
}

/* Sliders */
.carousel__prev,
.carousel__next {
    color: #fff !important;
}

/* Card information */
.card-description {
    color: #292929;
}


/* Pagination */
.pagination-container {
    display: flex;
    column-gap: 10px;
    margin-bottom: 0;
}

.paginate-buttons {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #fff;
    color: black;
}

.paginate-buttons:hover {
    background-color: #0071bc;
    color: #fff;
}

.active-page {
    background-color: #0071bc;
    border: 1px solid #0071bc;
    color: white;
}

.active-page:hover {
    background-color: #2988c8;
}


/* navbar landing */
.offcanvas-custom {
    position: fixed;
    bottom: 0;
    z-index: 1045;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    color: #fff;
    visibility: hidden;
    background-color: #0e5394;
    background-clip: padding-box;
    outline: 0;
    transition: transform .3s ease-in-out;
}

.offcanvas-custom.offcanvas-custom-end {
    top: 0;
    right: 0;
    width: 400px;
    border-left: 400px solid #fff;
    transform: translate(100%);
}
